@use '../../styles/variables' as style;

.primaryButton {
    // Styles for primary button
    background-color: style.$primary-color;
    color: style.$white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .secondaryButton {
    // Styles for secondary button
    background-color: style.$white;
    color: style.$primary-color;
    border: 1px solid style.$primary-color;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .icon {
    // Styles for the icon
    margin-right: 0.5rem;
  }
  
  .label {
    // Styles for the label
    font-family: style.$font;
  }
  