/*--Apex color pallete--*/
$apex-blue:#44546A;
$teal1:#37B3A2;
$teal2:#9FE2D8;
$teal3:#EAFDF8;
$orange1:#E7792B;
$orange2:#EE9F2D;
$orange3:#F7C85E;
$yellow:#F9E661;
$logo-grey: #7C95A5;
$grey1:#808083;
$grey2:#D2DDE8;
$white:#fff;
$font: Arial, Helvetica, sans-serif;
/*-- Application's color scheme--*/
$primary-color: $apex-blue;
$secondary-color:$teal1;
$accent-color: $orange3;
$background-color:$grey2;
$text-color:$logo-grey;