@use './variables';

html, #__next {
  height: 100%;
}

body {
  background-color: variables.$background-color;
  font-family: variables.$font;
  height: 100%;
  margin: 0;
}

.App {
  display: grid;
  grid-template-columns: 250px 3fr;
  grid-template-rows: 1fr 4fr;
  grid-template-areas: "sidebar capture" "sidebar datatable";
  grid-gap: 16px;
  height: 100%;
  width: 100%;
}

.capture {
  grid-area: capture;
  height:100%;
}

.datatable {
  grid-area: datatable;
  /* Add your data table area styles */
}

/* EmployeeList.module.css */
.EmployeeList {
  width: 100%;  
}

.EmployeeList table {
  border-collapse: collapse;
  width: 100%;
}

.EmployeeList th,
.EmployeeList td {
  border: 1px solid variables.$teal3;
  padding: 8px;
  text-align: left;
}

.EmployeeList th {
  background-color: variables.$primary-color;
  color: white;
  font-weight: bold;
}

.EmployeeList tr:nth-child(even) {
  background-color: #f0f3f5;
}

.EmployeeList tr:hover {
  background-color: #d9e1e8;
}

.EmployeeList caption {
  padding: 8px;
  font-size: 1.2em;
  font-weight: bold;
  color: variables.$grey1;
  margin-bottom: 8px;
}
