
/*--Apex color pallete--*/
$apex-blue:#44546A;
$teal1:#37B3A2;
$teal2:#9FE2D8;
$teal3:#EAFDF8;
$orange1:#E7792B;
$orange2:#EE9F2D;
$orange3:#F7C85E;
$yellow:#F9E661;
$logo-grey: #7C95A5;
$grey1:#808083;
$grey2:#D2DDE8;
$white:#fff;
/*-- Application's color scheme--*/
$primary-color: $apex-blue;
$secondary-color:$teal1;
$accent-color: $orange3;
$background-color:$white;
$text-color:$logo-grey;


html, #__next {
  height: 100%;
}

body {
  background-color: $background-color;
  color: $text-color;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

.App {
  display: grid;
  grid-template-columns: 250px 3fr;
  grid-template-rows: 1fr 4fr;
  grid-template-areas: "sidebar capture" "sidebar datatable";
  grid-gap: 16px;
  height: 100%;
  width: 100%;
}

.sidebar {
  grid-area: sidebar;
  background-color: $primary-color;
  color: $background-color;
  padding: 5px;
  /* Add your sidebar styles */
}

.capture {
  grid-area: capture;
  height:100%;
}

.datatable {
  grid-area: datatable;
  /* Add your data table area styles */
}

/* EmployeeList.module.css */
.EmployeeList {
  width: 100%;
  font-family: Arial, sans-serif;
}

.EmployeeList table {
  border-collapse: collapse;
  width: 100%;
}

.EmployeeList th,
.EmployeeList td {
  border: 1px solid #d0e0ec;
  padding: 8px;
  text-align: left;
}

.EmployeeList th {
  background-color: $primary-color;
  color: white;
  font-weight: bold;
}

.EmployeeList tr:nth-child(even) {
  background-color: #f0f3f5;
}

.EmployeeList tr:hover {
  background-color: #d9e1e8;
}

.EmployeeList caption {
  padding: 8px;
  font-size: 1.2em;
  font-weight: bold;
  color: #3b4d61;
  margin-bottom: 8px;
}
