// src/components/SidebarMenu/SidebarMenu.module.scss
@use '../../styles/variables' as *;

.SidebarMenu {
  grid-area: sidebar;
  background-color: $primary-color;
  color: $white;
  width: 60px;  
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
  a {
    color:$teal3;
  }
}

.fullMode {
  @extend .SidebarMenu;
  width: 250px;
}

.SidebarTitle {
  font-family: $font;
  margin-bottom: 20px;
}

.SidebarButton {
  font-family: $font;
  background-color: $accent-color;
  color: $primary-color;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $orange2;
  }
}

.MenuItem {
  position: relative;
  margin:3px;
}

.SidebarMenuTooltip {
  display: none;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  background-color: $apex-blue;
  color: $white;
  padding: 5px 10px;
  border-radius: 3px;
  white-space: nowrap;
  font-size: 14px;
  z-index: 10;
  margin-left: 10px;
}

.MenuItem:hover .SidebarMenuTooltip {
  display: block;
}
